In [169]:
import pandas as pd
import numpy as np
import fnmatch
import os

In [261]:
def repl(string):
    string1 = string.replace(']','').replace('[', '').replace('\'','')
    return string1

def str_to_list(string):
    lst = list(string[1:-1].split(", "))
    lst1 = []
    for el in lst:
        lst1.append(el[1:-1])
    
    return ' '.join(lst1)

In [262]:
def one_decimal(rating):
    return round(rating, 1)

def categorize_ratings(df, col):
    df[col] = df[col].apply(one_decimal)
    return df
def lower(text):
    return text.lower()

def lower_cols(df, cols):
    for col in cols:
        df[col] = df[col].apply(lower)
    return df

def remove_spaces(text):
    text = text.replace(' ', '', 10)
    return text

def join_names(df, col):
    df[col] = df[col].apply(remove_spaces)
    return df

def read_books_info(filespath='../data/big_data_temp/'):
    pattern = 'gr_books_df_*.csv'
    print('Pattern :', pattern )

    files = os.listdir(filespath) 
    dfs_files = []
    for name in files: 
        if fnmatch.fnmatch(name, pattern):
            dfs_files.append(name)
    dfs_files
    dfs_paths = []
    for file in dfs_files:
        dfs_paths.append(filespath + file)

    revs_lst = []
    for file in dfs_paths:
        try:
            revs_lst.append(pd.read_csv(file))
        except:
            print(f'file {file} failed')
    print(len(revs_lst))
    df = pd.concat(revs_lst,axis=0)
    return df

In [536]:
books_df = read_books_info()
books_df['author_name'] = books_df['author_name'].apply(repl)
books_df = categorize_ratings(books_df,'avg_rating')
books_df['genres'] = books_df['genres'].apply(str_to_list)
books_df = books_df[['isbn', 'book_title', 'avg_rating', 'author_name', 'book_desc', 'genres']]
books_df = lower_cols(books_df, ['book_title', 'author_name', 'book_desc', 'genres'])
books_df = join_names(books_df, 'author_name')

Pattern : gr_books_df_*.csv
6

In [538]:
books_df.head(2)

,isbn,book_title,avg_rating,author_name,book_desc,genres
0,1594488843,drive: the surprising truth about what motivat...,4.0,danielh.pink,the new york times bestseller that gives reade...,nonfiction business psychology leadership self...
1,033050889X,the mind's eye,3.9,oliversacks,"in musicophilia, oliver sacks explored music a...",nonfiction science psychology biology neurosci...

### TfIdf for books_df

In [280]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [300]:
tf = TfidfVectorizer(analyzer='word', ngram_range=(1, 1), min_df=0, stop_words='english', max_features=200)
tfidf_matrix = tf.fit_transform(books_df['genres'])

# tf.stop_words_
# tf.vocabulary_
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=tf.get_feature_names())
books_df = pd.concat([books_df, tfidf_df], axis=1)
features = tf.get_feature_names()

In [308]:
tfidf_df.head(3)

,19th,20th,21st,academic,adult,adventure,africa,american,animals,anthologies,...,travel,trek,trivia,true,tv,unfinished,war,womens,world,writing
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.294656
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.409444,0.0,0.0,0.0,0.000000

In [585]:
reviews_df = pd.read_csv('../data/big_data_temp/reviews.csv')

to_pivot = reviews_df[['UserID', 'ISBN','Rating']].drop_duplicates(subset=None, keep='first')

to_pivot[to_pivot[['UserID', 'ISBN']].duplicated()]
to_pivot.drop(index=[344,66423],inplace=True)

to_pivot

In [507]:
sparse_df = to_pivot.pivot(index='UserID', columns='ISBN', values='Rating')

In [510]:
sparse_df.fillna(0.0, inplace=True)

### Light FM

In [329]:
from lightfm import LightFM
from lightfm.data import Dataset

In [331]:
dataset = Dataset()
dataset.fit(reviews_df['UserID'],reviews_df['ISBN'])

In [339]:
dataset.fit_partial(items=books_df['isbn'], users=reviews_df['UserID'], item_features=features, user_features=None)

In [348]:
user_isbn = zip(reviews_df['UserID'], reviews_df['ISBN'])

In [349]:
(interactions, weights) = dataset.build_interactions(user_isbn)

In [335]:
np.array(books_df.loc[298,['isbn']])[0]

'0525954821'

In [343]:
list(tf_m_arr[0])

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.3768485485053178,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.24610936727437915,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.2249084177636906,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.40275026303800254,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.2984450681050103,
 0.0,
 0.0,
 0.0,
 0.3617456892004505,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.06540415309031819,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.24610936727437915,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.3431793038603882,
 0.0,
 0.12530726027986935,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.06453786008224141,
 0.40275026303800254,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0]

In [345]:
tfidf_dct = tfidf_df.to_dict('index')

In [350]:
tf_m_arr = tfidf_matrix.toarray()

features_tuple = [(np.array(books_df.loc[i,['isbn']])[0], list(tfidf_dct[i])) for i in range(tf_m_arr.shape[0])]

In [351]:
item_features = dataset.build_item_features(features_tuple)

In [352]:
model = LightFM(loss='bpr')
model.fit(interactions, item_features=item_features)

In [373]:
model.predict([143], [234])

array([-3.58480263])

In [360]:
import numpy as np
from lightfm.datasets import fetch_movielens
movielens = fetch_movielens()

In [361]:
for key, value in movielens.items():
    print(key, type(value), value.shape)

train <class 'scipy.sparse.coo.coo_matrix'> (943, 1682)
test <class 'scipy.sparse.coo.coo_matrix'> (943, 1682)
item_features <class 'scipy.sparse.csr.csr_matrix'> (1682, 1682)
item_feature_labels <class 'numpy.ndarray'> (1682,)
item_labels <class 'numpy.ndarray'> (1682,)

In [362]:
train = movielens['train']
test = movielens['test']

In [369]:
train.toarray()

array([[5, 3, 4, ..., 0, 0, 0],
       [4, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [5, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 5, 0, ..., 0, 0, 0]], dtype=int32)

In [370]:
from lightfm.evaluation import precision_at_k
from lightfm.evaluation import auc_score

In [371]:
from lightfm import LightFM
from lightfm.evaluation import precision_at_k
from lightfm.evaluation import auc_score

model = LightFM(learning_rate=0.05, loss='bpr')
model.fit(train, epochs=10)

train_precision = precision_at_k(model, train, k=10).mean()
test_precision = precision_at_k(model, test, k=10).mean()

train_auc = auc_score(model, train).mean()
test_auc = auc_score(model, test).mean()

print('Precision: train %.2f, test %.2f.' % (train_precision, test_precision))
print('AUC: train %.2f, test %.2f.' % (train_auc, test_auc))

Precision: train 0.60, test 0.10.
AUC: train 0.90, test 0.86.

In [366]:
from scipy.sparse import coo_matrix

In [ ]:
coo_matrix(D)

In [368]:
coo_matrix (tfidf_matrix.toarray())

<299x186 sparse matrix of type '<class 'numpy.float64'>'
	with 3246 stored elements in COOrdinate format>

### ratings predition with random forest for the train set.

In [606]:
books_df = read_books_info()
books_df['author_name'] = books_df['author_name'].apply(repl)
books_df = categorize_ratings(books_df,'avg_rating')
books_df['genres'] = books_df['genres'].apply(str_to_list)
books_df = books_df[['isbn', 'book_title', 'avg_rating', 'author_name', 'book_desc', 'genres']]
books_df = lower_cols(books_df, ['book_title', 'author_name', 'book_desc', 'genres'])
books_df = join_names(books_df, 'author_name')
books_df.reset_index(inplace=True)

Pattern : gr_books_df_*.csv
6

In [607]:
reviews_df = pd.read_csv('../data/big_data_temp/reviews.csv')
to_pivot = reviews_df[['UserID', 'ISBN','Rating']].drop_duplicates(subset=None, keep='first')
print(to_pivot[to_pivot[['UserID', 'ISBN']].duplicated()])
to_pivot.drop(index=[344,66423],inplace=True)

sparse_df = to_pivot.pivot(index='UserID', columns='ISBN', values='Rating')
sparse_df.fillna(0.0, inplace=True)

       UserID       ISBN  Rating
344     10631  802714625       4
66423    2232  521427088       4

In [ ]:
### tfidf

In [609]:
tf = TfidfVectorizer(analyzer='word', ngram_range=(1, 1), min_df=0, stop_words='english', max_features=200)
tfidf_matrix = tf.fit_transform(books_df['genres'])

# tf.stop_words_
# tf.vocabulary_
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=tf.get_feature_names())
books_df = pd.concat([books_df, tfidf_df], axis=1)
features = tf.get_feature_names()

In [645]:
users = content_df.UserID.unique()
books = content_df.ISBN.unique()

In [611]:
n_u = len(users)
n_b = len(books)
n_u* n_b

248262

In [612]:
from sklearn.decomposition import TruncatedSVD
from scipy.sparse import random as sparse_random
from sklearn.random_projection import sparse_random_matrix

svd = TruncatedSVD(n_components=5, n_iter=10, random_state=42)
svd.fit(sparse_df)

result = svd.transform(sparse_df)
result.shape

(12393, 5)

In [617]:
svd_5_df = pd.DataFrame(result)

In [622]:
svd_5_df.reset_index(inplace=True)

In [518]:
###content df preprocessing

In [614]:
content_df = pd.merge(reviews_df, books_df, how='left', left_on='ISBN', right_on='isbn').dropna()
content_df = content_df.drop(columns=['Unnamed: 0', 'isbn', 'book_title', 'author_name', 'book_desc', 'genres'])

In [624]:
content_df = pd.merge(content_df, svd_5_df, how='left',left_on='UserID', right_on='index')

In [625]:
content_df.head(2)

,ISBN,UserID,Rating,index_x,avg_rating,19th,20th,21st,academic,adult,...,war,womens,world,writing,index_y,0,1,2,3,4
0,1400063515,510,3,21.0,3.9,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,510,0.169333,0.044086,0.048520,0.030422,0.207298
1,1400063515,4433,5,21.0,3.9,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4433,0.497195,-0.014390,0.176215,0.000953,0.298981

In [460]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.calibration import CalibratedClassifierCV
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, RandomForestRegressor
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import confusion_matrix, f1_score, accuracy_score, recall_score, r2_score, mean_squared_error

In [626]:
X = content_df.copy()
y = X.pop('Rating')

In [627]:
y = y.apply(float)

In [628]:
X.head(2)

,ISBN,UserID,index_x,avg_rating,19th,20th,21st,academic,adult,adventure,...,war,womens,world,writing,index_y,0,1,2,3,4
0,1400063515,510,21.0,3.9,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,510,0.169333,0.044086,0.048520,0.030422,0.207298
1,1400063515,4433,21.0,3.9,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4433,0.497195,-0.014390,0.176215,0.000953,0.298981

In [629]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify = y)

In [630]:
user_isbn_train = X_train[['UserID', 'ISBN']]
user_isbn_test = X_test[['UserID', 'ISBN']]
X_train = X_train.drop(columns=['UserID', 'ISBN'])
X_test = X_test.drop(columns=['UserID', 'ISBN'])

In [631]:
X_train.head()

,index_x,avg_rating,19th,20th,21st,academic,adult,adventure,africa,american,...,war,womens,world,writing,index_y,0,1,2,3,4
2137,32.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5676,9.454645,-0.259184,4.585165,2.817920,-6.180507
3711,41.0,3.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1848,0.828867,0.088125,0.239208,0.402055,1.452376
20012,44.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2194,0.263546,0.003758,0.085266,0.027552,0.087043
158,21.0,3.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3876,0.225777,0.058781,0.064694,0.040563,0.276398
12635,19.0,4.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,12117,0.136514,0.022889,0.039467,0.112000,0.343740

In [ ]:
# Without SVD:

In [481]:
rfc=RandomForestRegressor(n_estimators=1000,max_depth=5, max_features='auto', n_jobs=-1)
rfc.fit(X_train,y_train)
y_pred=rfc.predict(X_test)

print(f'MSE =  {mean_squared_error(y_pred,y_test)}')
print(f'R2 = {r2_score(y_pred, y_test)}')

# gbc=GradientBoostingRegressor()
# gbc.fit(X_train,y_train)
# y_pred=gbc.predict(X_test)
# accuracy_score(y_pred,y_test)

df_pred = pd.DataFrame(y_pred)
df_test = pd.DataFrame(y_test)

df_test.reset_index()
df_test['Pred'] = y_pred[0]

df_test.describe()

In [632]:
# With SVD:

In [481]:
rfc=RandomForestRegressor(n_estimators=1000,max_depth=5, max_features='auto', n_jobs=-1)
rfc.fit(X_train,y_train)
y_pred=rfc.predict(X_test)

print(f'MSE =  {mean_squared_error(y_pred,y_test)}')
print(f'R2 = {r2_score(y_pred, y_test)}')

df_pred = pd.DataFrame(y_pred)
df_test = pd.DataFrame(y_test)

df_test.reset_index()
df_test['Pred'] = y_pred[0]

df_test.describe()

In [ ]:
# rfc.predict(X_test)

In [635]:
X_test

,index_x,avg_rating,19th,20th,21st,academic,adult,adventure,africa,american,...,war,womens,world,writing,index_y,0,1,2,3,4
14466,33.0,4.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,3788,0.192330,0.033792,0.007854,0.007132,-0.073681
14916,18.0,4.0,0.0,0.0,0.0,0.348379,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,10924,0.016456,0.008767,0.019750,0.020787,0.028996
8177,27.0,4.2,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,11547,0.160250,-0.002660,0.124062,0.019191,-0.152169
18925,11.0,4.1,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,5931,0.040909,-0.008463,0.021125,0.061762,0.174223
5610,9.0,3.8,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,10026,0.202833,-0.007743,0.060261,0.148803,0.376101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15958,43.0,4.1,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.365699,9480,0.407080,0.070342,0.124524,0.222818,0.380940
807,9.0,4.0,0.0,0.0,0.0,0.000000,0.254748,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,2816,5.782952,0.377226,-3.399042,0.422128,-4.968830
2620,17.0,4.4,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,6759,0.315508,0.003683,0.097574,0.227000,0.506375
7212,30.0,4.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,11778,0.402372,0.154817,0.194839,0.126299,-0.083244
19539,32.0,4.1,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,11324,0.383724,0.114813,0.144963,0.223082,0.152885

### Train the model on whole dataset:

In [637]:
user_isbn_data = X[['UserID', 'ISBN']]
X = X.drop(columns=['UserID', 'ISBN'])

In [ ]:
rfr=RandomForestRegressor(n_estimators=1000,max_depth=5, max_features='auto', n_jobs=-1)
rfr.fit(X,y)

In [ ]:
y_pred=rfr.predict(X_test)

print(f'MSE =  {mean_squared_error(y_pred,y_test)}')
print(f'R2 = {r2_score(y_pred, y_test)}')

df_pred = pd.DataFrame(y_pred)
df_test = pd.DataFrame(y_test)

df_test.reset_index()
df_test['Pred'] = y_pred[0]

df_test.describe()

In [638]:
user_isbn_data

       UserID        ISBN
0         510  1400063515
1        4433  1400063515
2         206  1400063515
3       11120  1400063515
4        8888  1400063515
...       ...         ...
20262    7664  1439192812
20263    9605  1439192812
20264     969  1439192812
20265    8843  1439192812
20266    4892  1439192812

[20267 rows x 2 columns]

In [649]:
pairs = []
for user  in users:
    for book in books:
        dct = {}
        dct['UserID'] = user
        dct['ISBN'] = book
        pairs.append(dct)

In [652]:
all_df = pd.DataFrame(pairs)